body {
    background-image: url("tree.jpg");
    background-size: cover;
  }


.menu{
    float: right;
    background-color:#b30000;
    padding: 10px;
}
ul li{
    display: inline-block;
}
ul li a{
    font-family: inherit;
    font-weight: 900;
    text-decoration: none;
    color: #fff;
    margin: 10px;
}
h1 {
font-size: 90px;
    color: black;
    font-weight: 500;
    text-decoration: thistle;
}

.PHOTOGRAPHY {
    background-color:#666666;
}
span{
font-size: 60px;
    color: lavender;
}
