.symbols{
    display: flex;
    
}
.symbols .ring img{
    margin-left: 950px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
}
h1{
    text-align: center;
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -160px;
    margin-left: 130px;
}
span{
    color: #ff9900;
}
.login{
    float: right;
}
.login a{
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    background-color: #000080;

    margin-right: 90px;
    color: #fff;
}
.login a:hover{
    color: #ff9900;
    transform: scale(1.2);
    transition: .3s;
}
h2{
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
.mid table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 2px solid #ff9900;
    text-align: left;
    padding: 8px;
  }
  th{
      color: #000080;
      font-size: 28px;
  }
  
  tr:nth-child(even) {
    background-color: #ddd;
  }
.names td img{
      color: #ff9900;
      margin-top: -100px;
  }
  h3{
      color: #000080;
      font-size: 40px;
text-align: center;
  }
  h4{
      color: #ff9900;
      font-size: 28px;
  }
  .low a{
    text-decoration: none;
    color: #4d4d4d;
    font-size: 16px;
    margin: 15px;
}
.low{
    text-align: center;
}
.low .disc{
    text-align: center;
    color: #4d4d4d;
    font-size: 13px;
}
.social{
    margin-left: 590px;
    
    
}
.social a{
    margin: 10px;
    
}
.social a:hover i{
    transform: scale(1.4);
    transition: .4s;
    
}
.fa-facebook-official{color:#3b5998;}
.fa-instagram{color: #E1306C;}
.fa-twitter{color: #1DA1F2;}
.fa-whatsapp{color: #25d366;}
.fa-envelope{color: #BB001B;}
.fa-youtube-play{color: #ff0000;}
